streamlit
langchain
pydantic
uvicorn
fastapi
python-multipart
pydantic-settings
langchain-text-splitters
langchain-google-genai
langchain-groq
langchain-chroma
langchain-classic
langchain-community
pymupdf
langsmith
unstructured
langchain-ollama
python-magic
python-pptx
llama-cpp-python